body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://images.pexels.com/photos/268883/pexels-photo-268883.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.homeContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-inline: auto;
}
.leftSide,  .rightSide{
    text-align: center;
    color: #979797;
}
.rightSide h1{
    font-size: 9em;
    margin: 0;
    color: blanchedalmond;
}
.rightSide h4{
    margin: 0;
    font-size: 3em;
    color: blanchedalmond;
}
.leftSide h1, .leftSide h3{
    color: #ffebcd;
    font-size: 3em;
    margin: 0;
}
.navbar{
    /* margin-top: 70px; */
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-inline: auto;
}
hr{
    width: 80%;
    border: 1px solid #ffebcd;
    border-radius: 50px;
}
.detailsContainer{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-inline: auto;
}
.detailsContainer div{
    text-align: center;
    margin-top: 30px;
}
.detailsContainer div h3, .detailsContainer div h4{
    color: #ffebcd;
    font-size: 2em;
    margin: 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    color: #ffebcd;
    margin: 0;
    font-size: 1.1em;
}
.buttons:hover{
    cursor: pointer;
}